
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

html {
scroll-behavior: smooth;
}

/***************************************************** Nav bar */

.navbar{
font-family: 'Raleway';
font-weight: bold;
}

.navpadding {
  padding-left: 40px;
  padding-right: 40px;
}

.navdiv {
  padding-right: 15px;
  background-color: white;
}

.navtext {
font-size: 14px;
color: black;
}

.navtext:hover {
  color: #32566F;
}


.colornav{
  background-color: black;
}

.myButton {
	background-color:#000000;
	border-radius:35px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#fcf7fc;
	font-family:Arial;
	font-size:12px;
	padding:8px 20px;
	text-decoration:none;
}
.myButton:hover {
	background-color:#292029;
  text-decoration: none;
  color: white;
}
.myButton:active {
	position:relative;
	top:1px;
}

.myButton6 {
	background-color:#FAEFE6;
	border-radius:35px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:14px;
	padding:8px 20px;
	text-decoration:none;
}
.myButton6:hover {
	background-color:rgba(179,175,175,1);
  text-decoration: none;
  color: black;
}
.myButton6:active {
	position:relative;
	top:1px;
}

/***************************************************** Lending Menu */

#carouselExampleSlidesOnly {
  width: 80%;
  height:45%;
  font-family: 'Montserrat', sans-serif;
  font-weight:800px;
}

.PhotoAccueil {
width: 100%;
height: 760px;
object-fit: cover;
}


.titresite {
  position: absolute;
  font-size: 4rem;
  color: #FDFDFD;
  text-shadow: grey 0px 0px 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight:800px;
  padding-left: 50px;
  padding-right: 200px;
  bottom: 370px;
}

.myButton2 {
	background-color:#fcf9fc;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:18px 60px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
  position: absolute;
  bottom: 230px;
  left: 60px;
}

.myButton2:hover {
	background-color:#f7eff7;
  text-decoration: none;
  color: black;

}
.myButton2:active {
	position:absolute;
	top:1px;
}

/********************************************************* Flèche */

html, body {
  height:100%;
}

.main {
  float:left;
  width:100%;
  background:#fff;
  position:relative;
}

/* the important styles */

.arrow-wrap {
  position:absolute;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow-wrap:hover .hint {
  opacity:1;
}

  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 6s;
  }


/********************************************************* Presentation generale du concept */

.titrePresentationproduit {
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight:800px;
  padding-top: 50px;
  padding-left: 90px;
  padding-right: 20px;
}

.appostrophe {
  font-size: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight:800px;
}

.photospirale {
  width: 300px;
  height: auto;
  width: 700px;
  padding-top: 200px;
  padding-left: 380px;
}

.photofemme {
  width: 500px;
  height: auto;
  position: absolute;
  top: 120px;
  left: 100px;
}

.signature3 {
  font-family: 'Reenie Beanie';
  font-size: 40px;
  padding-left: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.iconpresentation {
  height: 80px;
  padding-left: 75px;
  padding-bottom: 20px;
}

.trianglebas{
  width: 100%;
  height:auto;
}

.detailPresentationproduit {
  font-family: 'Raleway';
  padding-left: 26px;
}
/***************************************************** Explication */

#Explication {
background-color: #EEEEEE;
padding-bottom: 1%;
}

.ExplicationTitre {
  padding-top: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight:800px;
  font-weight:500;
  font-size: 2.5rem;
}

.zigzag {
  position: absolute;
  width:100%;
  height: auto;
}

.explicationchiffre {
  font-family: 'Raleway';
  font-weight:500;
  font-size: 3.5rem;
  color: black;
  padding-left: 50px;
}

.explicationimage {
  width: 100%;
  padding-bottom: 15%;
  padding-left: 15%;
  align-items: center;
}

.explicationimg3{
  padding-bottom: 22%;
}

.explicationtitre {
font-family: 'Raleway';
font-weight: bold;
padding-left: 50px;
padding-right: 50px;
font-size: 20px;
}

.explicationtexte {
  font-family: 'Raleway';
  padding-left: 50px;
  font-size: 0.9rem;
  padding-bottom: 50px;
  padding-right: 50px;

}

.explicationcase1{
  padding: 0px;
}

.explicationcase2{
  padding: 0px;
}

.explicationcase3{
  padding: 0px;
}

/***************************************************** Nos offres */

#Offre {
  background-color: white;
}

.ligne {
   border-top: 2px solid black;
}

.coloneblock {
  padding-top: 8%;
  padding-left: 25%;
}

.coloneoffre {
align-items: center;
border-left: : 20%;
box-shadow: 0px 1px 19px -7px rgba(179,175,175,1);
margin-right: 110px;
background-color: #FAEFE6;
margin-bottom: 100px;
}

.typeoffre{
font-size: 1.5rem;
padding-top: 8%;
padding-left: 7%;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
}

.prix {
  font-family: 'Raleway';
  font-size: 2.5rem;
  padding-left: 65%;
}

.imageoffre {
  height: 250px;
  width: 250px;
}

.descriptionoffre {
  padding-top: 10%;
  padding-bottom: 10%;
  font-family: 'Raleway';
}

.bouttonoffre1 {
  padding-top: 25px;
  padding-bottom: 40px;
  padding-left: 15%;
}

.bouttonoffre2 {
  padding-bottom: 40px;
  padding-left: 15%;
}

.myButton3 {
	background-color:#2B4E67;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:'Montserrat', sans-serif;
	font-size:13px;
	font-weight:bold;
	padding:18px 30px;
	text-decoration:none;
	text-shadow:0px 0px 0px #2f6627;
}
.myButton3:hover {
	background-color:#f7eff7;
  text-decoration: none;
  color: black;
}
.myButton3:active {
	position:relative;
	top:1px;
}


.texteoffre {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 13px;
}

.detailtexte {
  color: black;
  font-family:'Raleway';
}

.detailtexte:hover {
  color: grey;
  text-decoration: none;
}

/***************************************************** Photo intermédiaire */

.photointermédiaire{
  width:100%;
  height: auto;
}

/***************************************************** Temoignage */

#temoignages{
background-color: #FAEFE6;
color: black;
}

.testimonial-image{
width: 100%;
height: auto;
font-family: 'Raleway';
}

.testimonial-text {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Raleway';
}

.testimonial-text2{
  font-size: 1rem;
  font-weight: bolder;
  font-family: 'Raleway';
}

.carousel-item {
padding: 1% 2%;
}

.ville {
  font-size: 0.8rem;
  font-family: 'Raleway';
}

.star {
  font-size: 1.5rem;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 1.5%;
}

.carouseldiv {
padding-left: 80%;
padding-top: 3%;
}

.carouselitem2 {
padding-top:6%;
}

.temoignagediv{
  background-color: #FAEFE6;
}

/***************************************************** Communauté */

.communityimage{
  width: 100%;
  height: auto;
}

.background {
  background-color: #EEEEEE;
  margin-bottom: 1px;
}

.text-block3{
  padding-top: 3rem;
  padding-left: 3rem;
  padding-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight:800px;
  font-weight:500;
  font-size: 2.5rem;
  margin-bottom: 0px;
}


/***************************************************** Footer */

.lienstyle {
  color: black;
}
.lienstyle:hover {
color: black;
}

.page-footer{
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
}

.lienstyle2 {
  font-size: 25px;
  color: black;
}

.mb-0 {
  font-family: 'Raleway';
}

/***************************************************** Media query */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .titresite {
    color: #FDFDFD;
    text-shadow: grey 0px 0px 10px;
    font-size: 45px;
    bottom:170px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .myButton2{
    font-size:15px;
    bottom: 100px;
  }

  .photofemme {
    width: 40%;
    padding-bottom: 10px;
    height: 500px;
    object-fit: cover;
  }

  .photospirale {
    height: 600px;
    width: 10px;
    visibility: hidden;
  }

.signature3 {
  padding-left: 50px;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
  .titresite {
    color: #FDFDFD;
    text-shadow: grey 0px 0px 10px;
    font-size: 50px;
    bottom: 250px;
    padding-right: 100px;
  }
  .myButton2{
    bottom: 100px;
  }

  .photofemme {
    width: 70%;
    padding-bottom: 10px;
    height: 500px;
    object-fit: cover;
  }

  .titrePresentationproduit{
    padding-top: 60px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .titresite {
    color: #FDFDFD;
    text-shadow: grey 0px 0px 10px;
    bottom: 250px;
    font-size: 60px;
  }
  .myButton2{
    bottom: 150px;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .titresite {
    color: #FDFDFD;
    text-shadow: grey 0px 0px 10px;
    font-size: 70px;
    bottom: 250px;
  }
  .myButton2{
    bottom: 50px;
  }

  .photospirale{
    visibility: hidden;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .titresite {
    color: #FDFDFD;
    text-shadow: grey 0px 0px 10px;
    font-size: 70px;
    bottom: 300px;

  }

  .myButton2{
    bottom: 100px;
  }

  .coloneoffre {
    padding: 0px;
  }

  .photospirale{
    visibility:visible;
  }

}

@media (max-width: 1000px) {
  .zigzag {
    visibility: hidden;
  }
}
